# Django 核心
django==4.2.22
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.29.0
django-cors-headers==3.14.0
channels==4.3.2
asgiref==3.11.0

# 数据库
pymysql==1.1.1

# 数据处理
numpy==2.4.3
pandas==3.0.1
joblib==1.5.3

# 机器学习 (算法模块依赖)
scikit-learn==1.8.0
scipy==1.17.1

# 工具
python-dotenv==1.2.2
